@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

  color-scheme: light dark;
  background-color: #fcf8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
